@charset "utf-8";

/* CSS Resets */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Styles */

:root {
    --main-font: 'Roboto', sans-serif;

    --primary-color: #F0DB4F;
    --off-yellow: #fdbb03;
    --secondary-color: #323330;
    --off-white: #e2e8f0;
    --text-grey: #636363;
    --text-dark: #404040;
    --text-white: #f5f5f5;
}

html {
    font-family: var(--main-font);
}

body {
    background-color: var(--text-grey);
}

.app {
    min-height: 100%;
    padding-block: 16px;
}

.app header {
    background-color: var(--text-grey);
    position: sticky;
    top: 0;
    z-index: 1;
}

.app header h1 {
    background: -webkit-linear-gradient(
        right,
        var(--primary-color) 20%,
        var(--off-yellow) 40%,
        var(--primary-color) 60%,
        var(--off-yellow) 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

.library-sections {
    list-style-type: none;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.library-sections button {
    border: none;
}

#search-form {
    padding-block: 16px;
}

#search-form input[type="search"] {
    display: block;
    margin-inline: auto;
    max-width: 40rem;
    width: 100%;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-auto-rows: auto;
    gap: 24px;
    padding-block: 16px;
}

.book-list__item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 375px;
    max-width: 300px;
    background: #fff;
    overflow: hidden;
}

.book-list__item-cover {
    height: 200px;
    width: 100%;
    border-bottom-right-radius: 100% 50%;
    position: relative;
    overflow: hidden;
}

.book-list__item-cover img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.book-list__item-info {
    padding: 8px 32px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    text-align: center;
    line-height: 1.2;
}

.book-list__item-info h3 {
    color: var(--text-dark);
    text-transform: uppercase;
    font-size: .9rem;
}

.book-list__item-info p {
    color: var(--text-grey);
    font-size: .75rem;
}

.book-list__item-info button {
    border: none;
    border-radius: 100vmax;
    color: var(--secondary-color);
    font-size: .9rem;
    font-weight: 300;
    padding: 5px 30px;
    margin-inline: 24px;
    text-transform: uppercase;
    background: linear-gradient(
        75deg,
        var(--primary-color),
        var(--off-yellow)
    );
}

button {
    cursor: pointer;
}

button.danger {
    background: linear-gradient(
        75deg,
        #962b2b,
        #ffa8a8
    );
}

.card {
    border-radius: 20px;
    border: 5px solid #fff;
}

.multi-line-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.max-width {
    max-width: 75rem;
    margin-inline: auto;
    padding-inline: 16px;
}

.text-shadow {
    text-shadow:
        1px 0px 0px rgba(0, 0, 0, 0.5),
        0px 1px 0px rgba(0, 0, 0, 0.5),
        -1px 0px 0px rgba(0, 0, 0, 0.5),
        0px -1px 0px rgba(0, 0, 0, 0.5);
}

@keyframes textShine {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 50% 100%;
    }
}
