@charset "utf-8";

/* CSS Resets */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Styles */

:root {
    --main-font: 'Roboto', sans-serif;

    --primary-color: #f0db4f;
    --off-yellow: #fdbb03;
    --secondary-color: #323330;
    --off-white: #dfdbdb;
    --text-grey: #636363;
    --text-dark: #404040;
    --text-white: #f5f5f5;

    --shadow-color: 0deg 3% 48%;
    --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.3),
        1.1px 2.1px 3px -0.6px hsl(var(--shadow-color) / 0.37),
        2.6px 5px 7px -1.1px hsl(var(--shadow-color) / 0.44),
        5.9px 11.5px 16.1px -1.7px hsl(var(--shadow-color) / 0.5);
    --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.27),
        2.3px 4.5px 6.3px -0.2px hsl(var(--shadow-color) / 0.31),
        4.3px 8.2px 11.5px -0.5px hsl(var(--shadow-color) / 0.34),
        6.7px 12.9px 18.1px -0.7px hsl(var(--shadow-color) / 0.37),
        10.1px 19.6px 27.5px -1px hsl(var(--shadow-color) / 0.4),
        15.2px 29.4px 41.2px -1.2px hsl(var(--shadow-color) / 0.44),
        22.4px 43.3px 60.7px -1.5px hsl(var(--shadow-color) / 0.47),
        32.3px 62.5px 87.6px -1.7px hsl(var(--shadow-color) / 0.5);
}

html {
    font-family: var(--main-font);
}

body {
    background-color: var(--off-white);
}

.app {
    min-height: 100%;
    padding-block: 16px;
    isolation: isolate;
}

.app header {
    background-color: var(--off-white);
    position: sticky;
    top: 0;
    z-index: 1;
}

.app header.sticky {
    background-color: rgb(var(--off-white) / 0.6);
    backdrop-filter: blur(20px);
}

.app header h1 {
    text-align: center;
}

.library-sections {
    list-style-type: none;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.library-sections button {
    border: none;
}

#search-form {
    padding-block: 16px;
}

#search-form input[type='search'] {
    display: block;
    margin-inline: auto;
    max-width: 40rem;
    width: 100%;
}

.book-list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-auto-rows: auto;
    gap: 24px;
    padding: 16px 10px;
}

.book-list .message {
    position: absolute;
}

.book-list__item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 375px;
    max-width: 300px;
    background: #fff;
    overflow: hidden;
    box-shadow: var(--shadow-elevation-medium);
    transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out;
    will-change: transform;
}

.book-list__item:hover {
    transform: translate(-4px, -6px) scale(1.05);
    box-shadow: var(--shadow-elevation-high);
}

.book-list__item-cover {
    height: 200px;
    width: 100%;
    border-bottom-right-radius: 100% 50%;
    position: relative;
    overflow: hidden;
}

.book-list__item-cover::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background-color: var(--off-white);
    opacity: 1;
    transition: opacity 150ms ease-out;
}

.book-list__item-cover.loaded::before {
    transition: opacity 750ms ease-out;
    opacity: 0;
}

.book-list__item-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-list__item-info {
    padding: 8px 32px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    text-align: center;
    line-height: 1.2;
}

.book-list__item-info h3 {
    color: var(--text-dark);
    text-transform: uppercase;
    font-size: 0.9rem;
}

.book-list__item-info p {
    color: var(--text-grey);
    font-size: 0.75rem;
}

.book-list__item-info button {
    border: none;
    border-radius: 100vmax;
    color: var(--text-white);
    font-size: 0.9rem;
    padding: 5px 30px;
    margin-inline: 24px;
    text-transform: uppercase;
    background: linear-gradient(75deg, var(--primary-color), var(--off-yellow));
}

.book-details {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
}

.book-details__image-container {
    position: relative;
    flex: 0 0 300px;
    /* flex-shrink: 0;
    flex-grow: 1; */
}

.book-details__image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.book-details__info {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 16px;
    padding-inline-start: 8px;
    text-align: center;
    color: var(--text-dark);
}

.book-details__info h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.2;
}

.book-details__info p {
    text-align: justify;
    text-indent: 16px;
}

.book-details__info ul {
    list-style: none;
    padding: 0;
    padding-inline-start: 16px;
    text-align: left;
}

.book-details__info .actions {
    margin-block-start: auto;
}

.backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(50 51 48 / 0.65);
    backdrop-filter: blur(5px);
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease;
}

.backdrop.visible {
    opacity: 1;
    pointer-events: all;
}

.modal {
    display: block;
    background-color: #fff;
    padding: 0;
    position: fixed;
    inset: 0;
    margin: auto;
    height: 500px;
    width: min(calc(100dvw - 48px), 43rem);
    opacity: 0;
    transform: translateY(-40px);
    pointer-events: none;
    transition: transform 350ms ease-out, opacity 250ms 100ms ease;
}

.modal[open],
.modal.visible {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}

.modal #close-button {
    background: transparent;
    padding: 8px;
    position: absolute;
    top: -64px;
    right: -4px;
}

.modal #close-button svg {
    stroke: var(--text-white);
}

.modal #close-button svg path {
    fill: var(--text-white);
}

button {
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 6px 16px;
    color: #ffffff;
    cursor: pointer;
    transition: filter 250ms ease-in, background 250ms ease-in,
        color 250ms ease-in;
}

button:hover {
    filter: brightness(0.8);
}

button.warning {
    background: linear-gradient(75deg, var(--primary-color), var(--off-yellow));
}

button.warning.ghost {
    color: var(--off-yellow);
    border-color: var(--off-yellow);
    background: transparent;
}

button.danger {
    background: linear-gradient(75deg, #dd2828, #852323);
}

.card {
    border-radius: 20px;
    border: 5px solid #fff;
}

.multi-line-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.max-width {
    max-width: 75rem;
    margin-inline: auto;
    padding-inline: 16px;
}

.text-shadow {
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(0, 0, 0, 0.5),
        -1px 0px 0px rgba(0, 0, 0, 0.5), 0px -1px 0px rgba(0, 0, 0, 0.5);
}

.animated-header {
    background: -webkit-linear-gradient(
        right,
        var(--primary-color) 20%,
        var(--off-yellow) 40%,
        var(--primary-color) 60%,
        var(--off-yellow) 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

.spinner {
    --spinner-size: 30px;
    --spinner-width: 3px;
    position: absolute;
    border-radius: 50%;
    height: var(--spinner-size);
    width: var(--spinner-size);
    inset: 0;
    margin: auto;
    background-color: transparent;
    opacity: 1;
    transition: opacity 150ms ease-in;
}

.loaded .spinner {
    opacity: 0;
}

.spinner .dash {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    inset: 0;
    margin: auto;
    border: var(--spinner-width) solid transparent;
    border-block-start-color: var(--off-yellow);
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spinner .dash.dash-1 {
    animation-name: spin-1;
}

.spinner .dash.dash-2 {
    animation-name: spin-2;
}

@keyframes textShine {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 50% 100%;
    }
}

@keyframes spin-1 {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(3turn);
    }
}

@keyframes spin-2 {
    0% {
        transform: rotate(0turn);
    }
    33% {
        transform: rotate(0.77turn);
    }
    50% {
        transform: rotate(1.5turn);
    }
    66% {
        transform: rotate(2.22turn);
    }
    100% {
        transform: rotate(3turn);
    }
}